$redes: (
    "twitter": #55acee,
    "facebook": #3a5795,
    "instagram": pink
);

@each $red, $color in $redes {
    .btn--#{$red}{
        background-color: $color;
    }
}

.boton{
    background-color: #3a5795;
    size: 40px;
    border: 1px solid black;
}

.btn--social {
    @extend .boton;
    background-color:red;
    color: grey;
}

@mixin social-logo {
    border-radius: 5px;
    text-align:right;
    padding-right: 40%;
    margin-bottom: 15px;
}

.box {
    @include social-logo;
}